
.sidebar {
    padding: 20px;
    background-color: #D9D9D9;
    width: 350px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.project-link-div {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 10px;
    border-radius: 5px;
}

.project-icon {
    width: 25px;
    height: 25px;
}

.add-project-div {
    display: flex;
    align-items: start;
    margin: 15px 15px 15px 20px;
}

.add-project-icon {
    margin-top: 8px;
}

.sidebar nav a {
    margin: 15px 10px 15px 15px;
}

.new-p {
    padding-left: 15px;
}

.project-icon:hover,
.sidebar nav a:hover,
.new-p:hover {
    cursor: pointer;
}

.project-link-div.active {
    background-color: #E3E3E3;
    font-weight: bold;
}

