
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form input,
form select,
form button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.left-form-fields {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
